// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Outfit", sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Big Shoulders", sans-serif;

// Colores:
$orange: #D5966C;
$black: #151515;
$gray: #444444;
$white: #fff;

// Encabezados:
$title: 5rem;
$line-xl: 4.3rem;

$subtitle-l: 3.5rem;
$line-l: 3.5rem;

$encabezado-m: 3rem;
$line-m: 2.8rem;

$encabezado-s: 2rem;
$line-s: 2rem;


$text-body-m: 1.25rem;
$lineM: 2rem;

$text-body-s: 1rem;
$lineS: 1.7rem;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	'small': 375px,
	'medium': 768px,
	'large': 1024px,
);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
