@use '../abstracts';

.header__location {
    // background-color: abstracts.$black;


    &--btn {
        @include abstracts.dinamic-btn('before', end);
        position: absolute;
        top: 0;
    }
}

.main__location {
    
    background-color: abstracts.$black;
    color: abstracts.$white;

}

.footer__location {

    background-color: abstracts.$orange;

    .container {
        padding: 3rem 2rem;

        h4 {
            font-size: 1.6rem;
            font-weight: 900;
            line-height: 1.6rem;
            margin-bottom: 2.38rem;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.625rem;
            margin-bottom: 2.38rem;
        }

        a+a {
            margin-left: 1.25rem;
        }
    }
}