@use '../abstracts';
@use '../base/helpers';

// --- HEADER ---
.header__location {
    &--btn {
        @include abstracts.dinamic-btn('before', end);
        position: absolute;
        top: 0;
    }

    img {
        display: flex;
    }

    // --- Viata tablet del header ---
    @include abstracts.responsive(medium) {
        &--btn {
            margin-left: 3rem;
        }
    }

    // --- Vista desktop del header ---
    @include abstracts.responsive(xl) {
        &--btn {
            margin-left: 156px;
        }
    }
}

// --- MAIN ---
.main__location {
    background-color: abstracts.$black;
    color: abstracts.$white;
    padding-top: 50px;
    padding-bottom: 2.25rem;

    h2 {
        @extend .style-h2;
    }

    h3 {
        font-size: 2rem;
        color: abstracts.$orange;
        margin-bottom: 1.25rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 100;
        line-height: 1.7rem;
        margin-bottom: 1.25rem;
    }

    // --- Vista tablet del main ---
    @include abstracts.responsive(medium) {
        padding-top: 4rem;
        padding-inline: 2rem;

        .container {
            display: flex;
            gap: 6rem;
            
            p:last-of-type {
                margin-bottom: 2rem;
            }
        }
    }

    // --- Vista desktop del main ---
    @include abstracts.responsive(xl) {
        .container {

            justify-content: space-between;
            h2 {
                width: 350px;
                font-size: abstracts.$H-l;
                line-height: abstracts.$line-l;
            }

            div {
                width: 420px;
            }

        }
    }
}

// --- FOOTER ---
.footer__location {

    background-color: abstracts.$orange;
    padding: 48px 10px;

    .container {

        h4 {
            font-size: 1.6rem;
            font-weight: 900;
            line-height: 1.6rem;
            margin-bottom: 2.38rem;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.625rem;
            margin-bottom: 2.38rem;
        }

        a+a {
            margin-left: 1rem;
        }

        // --- Vista tablet del footer ---
        @include abstracts.responsive(medium) {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
    
            h4 {
                flex: 1;
                margin-bottom: 0;
            }
    
            p {
                flex: 1.5;
                margin-bottom: 1px;
            }
    
            nav {
                text-align: end;
                flex: 1;
            }
        }

        // --- Vista desktop del footer ---
        @include abstracts.responsive(xl) {
            p{
                flex: initial;
                width: 400px;
            }
        }
    }
}