@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

// --- Footer ---
.footer__home {
    color: abstracts.$white;
    background-color: abstracts.$black;
    
    .container {
        padding: 3rem 2rem;

        h4 {
            font-size: 1.6rem;
            line-height: 1.6rem;
            margin-bottom: 2.38rem;
        }

        p {
            margin-bottom: 38px;
        }

        a+a {
            margin-left: 1rem;
        }

        // --- Vista tablet del footer ---
        @include abstracts.responsive(medium) {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            h4 {
                flex: 1;
                margin-bottom: 0;
            }

            p {
                flex: 1.5;
            }

            nav {
                text-align: end;
                flex: 1;
            }
        }

        //  ---Vista desktop del footer ---
        @include abstracts.responsive(xl) {

            p {
                flex: initial;
                width: 430px;
            }

        }
    } 
}