@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer__home {
    color: abstracts.$white;
    background-color: abstracts.$black;
    
    .container {
        padding: 3rem 2rem;

        h4 {
            font-size: 1.6rem;
            line-height: 1.6rem;
            margin-bottom: 2.38rem;
        }

        p {
            font-size: 1rem;
            font-weight: 200;
            line-height: 1.625rem;
            margin-bottom: 2.38rem;
        }

        a+a {
            margin-left: 1rem;
        }
    } 
}