@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    margin-bottom: 7.5rem;
        
    &__img {
        &--dinamic {
            margin-bottom: 2rem;
        }
    }

    &__text {
        &--h1 {
            font-size: 74px;
            line-height: 65px;
            font-weight: 800;
            margin-bottom: 48px;
        }
    
        p {
            margin-bottom: 48px;
        }
        
        &--btn {
            @include abstracts.dinamic-btn('after')
        }
    }

    // vista tablet del header
    @include abstracts.responsive(medium) {
        position: relative;

        &__img {
            &--dinamic {
                width: 60%;
            }
        }

        &__text {
            width: 380px;
            position: absolute;
            top: 20%;
            left: 50%;

            &--h1 {
                width: 335px;
            }
        }
    }

    // Vista desktop del header
    @include abstracts.responsive(xl) {

        font-size: abstracts.$text-body-m;
        line-height: abstracts.$lineM;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        '. dos .';
        background-image: linear-gradient(to right, abstracts.$black 33.3%, abstracts.$white 33.3%);

        &__img {
            grid-area: dos;
            
            &--dinamic {
                width: 100%;
                display: flex;
                margin: 0;
            }
        }
        
        &__text {
            position: absolute;
            inset: 0;
            width: 76%;
            display: flex;
            justify-content: space-between;
            margin-top: 12%;

            &--h1 {
                width: 430px;
                font-size: 96px;
                line-height: 88px;
                color: white;
            }

            p {
                font-size: abstracts.$text-body-m;
                line-height: abstracts.$lineM;
                width: 350px;
            }
        }
    }
}