@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    margin-bottom: 7.5rem;

    .header__img {
        margin-bottom: 2rem;
        &--big {
            display: none;
        }
    }

    h1 {
        font-size: 4.45rem;
        line-height: 3.8rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 2rem;
    }
    
    .header__btn {
        @include abstracts.dinamic-btn('after')
    }

    @include abstracts.responsive(medium) {
        display: flex;
        justify-content: center;
        align-items: center;
        .header__img {
            &--small {
                display: none;
            }

            &--big {
                display: initial;
            }
            
        }

        .container {
            padding: 0 50px 0 0;
            margin-left: -70px;
            h1 {
                font-size: 4.2rem;
            }
        }
    }

    @include abstracts.responsive(large) {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        '. dos tres';
        background-image: linear-gradient(to right, abstracts.$black 33.3%, abstracts.$white 33.3%);

        .header__img {
            grid-area: dos;
            margin: 0;

            &--big {
                display: flex;
            }
        }
        
        .container {
            grid-area: tres;
            margin: 0;
        }
    }
}