@use '../abstracts';
@use '../components/button';

.hero {

    .hero__img {
        margin-bottom: 2rem;
    }

    h1 {
        font-family: abstracts.$code-font-stack;
        font-size: 4.45rem;
        line-height: 3.8rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.1rem;
        line-height: abstracts.$lineS;
        font-weight: 300;
        margin-bottom: 2rem;
    }
    
    a {
        @extend .btn;

        // @include on-event {

        // }
    }
}